<% include partials/header %>

<div class="container">
        <div id="userFormArea" class="row">
            <div class="col-md-12">
                <form action="" id="userForm">
                    <div class="form-group">
                        <label for="">Enter Username</label>
                        <input name="username" type="text" class="form-control" id="username" autocomplete="off" required/>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>
                </form>
            </div>
        </div>
        <div id="messageArea" class="row">
            <div class="col-md-4">
                <div class="well">
                    <h3>Online Users</h3>
                    <ul id="users" class="list-group"></ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="chat" id="chat"></div>
                <form action="" id="messageForm">
                    <div class="form-group">
                        <textarea name="" id="message" cols="30" rows="10" class="form-control" placeholder="Enter Message" required></textarea>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>
