body {
    padding-top: 30px;
    background: rgba(30, 30, 30, 1);
}

label {
    color: white;
}

input[type=text], textarea {
    background: lightgrey!important;
}

textarea {
    resize: none;
    max-height: 3em!important;
    width: 100%!important;
}

input[type=submit] {
    border: 2px solid lightgrey;
    background: transparent;
    transition: 0.1s ease-in-out;
}

input[type=submit]:hover, input[type=submit]:focus {
    border: 2px solid lightgrey;
    background: rgba(100, 100, 100, 0.2);
}

#chat {
    height: 20em;
    overflow-y: auto;
}

strong {
    color: green;
}

.well, .list-group-item {
    background: rgba(30, 30, 30, 1);
    color: white;
    border: none;
}

#messageArea {
    display: none;
}
